<template>
  <div class="about">
    <h2>Adress: {{address}}</h2>
    <h2>Block: {{blockNumber}}</h2>
    <h2>Balance: {{balance}}</h2>
    <h2>gasPrice: {{gasPrice}}</h2>
    <h2>1 ether: {{ether}}</h2>
    <h2>1 gwei: {{gwei}}</h2>
    <h2>transaction count: {{transaction_count}}</h2>
    <h2>network Current: {{network}}</h2>
    <h2>transaction of block</h2>
    <table id="customers">
      <tr>
        <th>hash</th>
        <th>type</th>
        <th>blockHash</th>
        <th>blockNumber</th>
      </tr>
      <tr v-for="(item,index) in transaction_block" :key="index">
        <td>{{ item.hash }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.blockHash }}</td>
        <td>{{ item.blockNumber }}</td>
      </tr>

    </table>
  </div>
</template>

<script>
// @ is an alias to /src

import { mapGetters } from 'vuex'
export default {
  name: 'About',
  computed: {
    ...mapGetters([
      'blockNumber',
      'balance',
      'address',
      'gasPrice',
      'ether',
        'gwei', 'transaction_count',
      'network',
        "transaction_block"
    ]),
   /* ...mapState([
        'transaction_count'
             ])*/
  },
  methods: {
  },
  created(){
    console.log(this)
    this.$store.dispatch('connect');
  }
}
</script>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>